html {
    font-family: Domine, Signika, 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #FFe8b8;
}

li {
    list-style: none;
    display: inline-block;
}

#headerall {
    background-color: #0327d2; 
}

#headerall li a {
    color: white;
}

center h1 {
    font-size: 4rem;
}

#contactmain {
    font-size: 2.5rem;
}

#whatwedomain {
    font-size: 2.5rem;
}

.row {
    display: flex;
    padding-bottom: 5px;
}

.row img {
    padding-bottom: 10px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

#aboutpage h1 {
    font-size: 2.5rem;
}

#aboutpage p {
    font-size: 2.5rem;
}
#homepage h1 {
    font-size: 5.5rem;
}

#wwdp img {
    width: 300px;
}

#homepic img {
    width: 1000px;
}

#homepic center h1 img {
    width: 10%;
    display: block;
}

ul li a {
    font-size: 1.5rem;
}

#pricesleft img {
    width: 250px;
}

#pricesleft td {
    font-size: 2.5rem;
}

#pricepage li {
    font-size: 2.5rem;
} 

#pricesall {
    font-size: 2.5rem; 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

#pricesbottom {
    font-size: 2rem;
}